# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Wyatt\Desktop\School\CS 361\s21-cs361-algorithms-repo-WH-Designs\Assignment-05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
